### Backend-specific ignores ###
backend/HELP.md
backend/target/
!backend/.mvn/wrapper/maven-wrapper.jar
!backend/**/src/main/**/target/
!backend/**/src/test/**/target/

### STS ###
backend/.apt_generated
backend/.classpath
backend/.factorypath
backend/.project
backend/.settings
backend/.springBeans
backend/.sts4-cache

### IntelliJ IDEA ###
backend/.idea
backend/*.iws
backend/*.iml
backend/*.ipr

### NetBeans ###
backend/nbproject/private/
backend/nbbuild/
backend/dist/
backend/nbdist/
backend/.nb-gradle/
backend/build/
!backend/**/src/main/**/build/
!backend/**/src/test/**/build/

### VS Code ###
backend/.vscode/
backend/**/searchHistory.txt

### Frontend-specific ignores ###

# Logs
frontend/logs
frontend/*.log
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
frontend/pnpm-debug.log*
frontend/lerna-debug.log*

# Node modules and build artifacts
frontend/node_modules
frontend/dist
frontend/dist-ssr
frontend/*.local

# Editor directories and files
frontend/.vscode/*
!frontend/.vscode/extensions.json
frontend/.idea
frontend/.DS_Store
frontend/*.suo
frontend/*.ntvs*
frontend/*.njsproj
frontend/*.sln
frontend/*.sw?
submission/Amazon.txt
submission/Controller.java
submission/Controller.txt
submission/DataValidation.java
submission/DataValidation.txt
submission/Dropbox.txt
submission/FileUtils.java
submission/FileUtils.txt
submission/Final presentation ACC.docx
submission/Final presentation ACC.pdf
submission/FrequencyCounter.java
submission/FrequencyCounter.txt
submission/GoogleDrive.txt
submission/ICloud.txt
submission/Azure.txt
submission/PatternMatch.java
submission/PatternMatch.txt
submission/Search.java
submission/Search.txt
submission/SearchFrequency.java
submission/SearchFrequency.txt
submission/SpellCheck.java
submission/SpellCheck.txt
submission/Team Members Priyadharshan Alena Harinath Simran Vamsi .pptx
submission/WebCrawler.java
submission/WebCrawler.txt
submission/Java/Controller.java
submission/Java/DataValidation.java
submission/Java/FileUtils.java
submission/Java/FrequencyCounter.java
submission/Java/PatternMatch.java
submission/Java/Search.java
submission/Java/SearchFrequency.java
submission/Java/SpellCheck.java
submission/Java/WebCrawler.java
submission/Text/Amazon.txt
submission/Text/Controller.txt
submission/Text/DataValidation.txt
submission/Text/Dropbox.txt
submission/Text/FileUtils.txt
submission/Text/FrequencyCounter.txt
submission/Text/GoogleDrive.txt
submission/Text/.txt
submission/Text/Azure.txt
submission/Text/PatternMatch.txt
submission/Text/Search.txt
submission/Text/SearchFrequency.txt
submission/Text/SpellCheck.txt
submission/Text/WebCrawler.txt
node_modules
